
.contacts-links {
    text-align: center;
    font-size: 0;
    margin-top: 1rem;
}

.contacts-links svg {
    margin: 0 5px;
}

.contacts-links svg:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}